//
//  {{{apiName}}}API.swift
//  
//  Generated usign MoyaPaw Export https://github.com/narlei/SwiftMoyaCodeGenerator.git

import Moya

{{{alll}}}

public enum {{{apiName}}}API {
    case {{{requestName}}}{{#queryParamsType}}({{{queryParamsType}}}){{/queryParamsType}}
}

extension {{{apiName}}}API: TargetType {

    public var baseURL: NSURL { return NSURL(string: "{{{baseURL}}}")! }

    public var path: String {
        switch self {
        case .{{{requestName}}}({{{requestParameter}}}):
            return "{{{pathExtension}}}"
        }
    }

    public var method: Moya.Method {
        switch self {
        case .{{{requestName}}}:
            return .{{{requestMethod}}}
        }
    }

    public var parameters: [String: AnyObject]? {
        switch self {
        {{#queryParams}}
        case .{{{requestName}}}({{{queryParams}}}):
            return {{#queryDictString}}[{{{queryDictString}}}]{{/queryDictString}}
        {{/queryParams}}
        {{#jsonBodyParams}}
        case .{{{requestName}}}({{{jsonBodyParams}}}):
            return {{#jsonBodyDictString}}[{{{jsonBodyDictString}}}]{{/jsonBodyDictString}}
        {{/jsonBodyParams}}
        {{^queryParams}}
        {{^jsonBodyParams}}
        default:
            return nil
        {{/jsonBodyParams}}
        {{/queryParams}}
        }
    }

    var task: Task {
        return .requestPlain
    }

    var headers: [String: String]? {
        return [{{#headers}}{{{headers}}}{{/headers}}]
    }

    public var sampleData: NSData {
        switch self {
        case .{{{requestName}}}:
            return "{}".data(using: String.Encoding.utf8)!
        }
    }
}

